<!DOCTYPE html>
<html lang="en">
<head>
    <!--Aubrey Farnbach (Wright) Section 2 Group 1-->
    <!--Bootstrap styling on the column sizes, outline, top and bottom navs-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span class="border border-primary m-1 p-1">
                    <a class="navbar-brand text-center" asp-area="" asp-controller="Home" asp-action="Index">Book Store</a>
                </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <img width="70" src="~/img/1200px-Closed_Book_Icon.svg.png" />
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="text-center">
        <h1 class="display-4">Book Store Home</h1>
    </div>

    <div class="container">
        <!--This class sets up the pages to be organized by column-->
        <main role="main" class="pb-3">
            <div class="row m-1 p-1">
                @RenderBody()
            </div>
        </main>
    </div>

    <!--Bootstrap footer-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Book Store - Aubrey Farnbach (Wright)</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
