@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel
<!--Bootstrap text style-->
<!--Three Boorstrap additions:
        1. I used btn-goup-vertical to make the page nav look good next to the table
        2. I used span class "border border-primary" to outline the brand button on the top nav
        3. I used nav navbar-nav navbar-right to set the book icon to the far right of the navbar-->
<!--Aubrey Farnbach Section 2 Group 1-->
<!--Bootstrapp Table style-->


<!--This section pulls in the dynamically generated page navigation-->
<div class="col-1">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" page-url-category="@Model.Type"
         class="btn-group-vertical">
    </div>
</div>

<div class="col-9">
    <table class="table table-striped">
        <thead>
            <tr><th>Title</th><th>Author</th><th>Publisher</th><th>Classification / Category</th><th>Price</th><th>ISBN</th><th>Pages</th></tr>
        </thead>
        <tbody>
            <!--This pulls in data from the database for the page selected-->
            @foreach (var x in Model.Books)
            {
                <partial name="BookSummary" model="x" />
            }
        </tbody>
    </table>
</div>

<div class="col-2">
    <vc:navigation-menu />
</div>

