@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>

<!--Aubrey Farnbach (Wright) Section 2 Group 1
    This view holds the dynamic list of categories the user can filter by-->

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)
            {
                <a class="btn btn-block @(category == ViewBag.SelectedType ? "btn-primary" : "btn-outline-secondary")"
                   asp-action="Index" asp-controller="Home"
                   asp-route-category="@category"
                   asp-route-page="1">
                    @category
                </a>
            }